<div class="bg-red-light border-bottom border-red">
  <div class="container text-center py-5 mb-4">
    <img src="logo.png" class="w-100" style="max-width:180px;" />
    <div class="mt-3 mb-4">
      <h2 class="h4 text-gray font-weight-light">Its time to be an Ally. This is how. </h2>
    </div>
  </div>
</div>

<div class="text-red-dark text-center py-5 my-5">
  <div class=“row”>
    <a class=“btn square” href="https://developer.github.com/v3/">Educate</a>
  </div>
    <a class=“btn square” href="https://developer.github.com/v3/">Donate</a>
  </div>
  <div class=“btn square”>
     <a class=“btn square” href="https://developer.github.com/v3/">Collaborate</a>
  </div>
 
</div>


</div>
