<div class="border-bottom border-white" ">
  <div class="container text-center py-5 mb-4">
    <img src="logo.png" class="w-100" style="max-width:180px;" />
    <h1 class ="h1 text-black" style= "vertical-align: bottom;"> A Guide to being an Ally: </h1>
    <br>
    <h2 class="h4 text-gray-dark font-weight-light">Its time. This is how. </h2>
  </div>
</div>
<div style = "background-color:#892819; class="border-bottom border-white">
<div class="container text-center">
  <a>
  <div class="box box1" >Educate </div>
  </a>
  <div class="box box2"> Donate </div>
  <div class="box box3"> Elevate 
  </div>
  <div class = "box box4"> Collaborate </div>
  </div>
  <div class = "banner bg-black">
  Stuff shown on hover
  </div>
 </div>
</div> 


