/* Custom stylesheet */

.nav-link:hover {
  color: inherit;
  text-decoration: none;
  opacity: .75;
}

.link-reset:hover {
  color: inherit;
  text-decoration: none;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
}


.square {
  width: 30%;
  padding-bottom: 30%
  background-color: #9b4412;
  color:text-gray-dark;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
}

.btn:hover {opacity: 1}


  
