/* Custom stylesheet */

/* Global */

.nav-link:hover {
  color: inherit;
  text-decoration: none;
  opacity: .75;
}

.link-reset:hover {
  color: inherit;
  text-decoration: none;
}

.octicon {
  display: inline-block;
  vertical-align: text-bottom;
}

.container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  vertical-align:bottom;
}

.box{
  flex: 1 0 calc(25% - 20px);
  margin: 5px;
  background: #E9D2FF;
  opacity: 0.75;
  transition: 0.3s;
  background-color: #9d1904;
}

.box:after{
  content: '';
  display: block;
  padding-bottom: 100%;
}

.btn-hover:hover {opacity: 1}

/* Footer */

.resources {
  -webkit-column-count: 5
   -moz-column-count: 5;
  columnt-count: 5
}

/* Educate */

/* Donate 
On the Ground
Petitions
Organizations
Black businesses 
*/


/* Collaborate 
Contact Reps
Volunteer
Orgs 
*/





  
